<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="/jquery.js"></script>
        <script type="text/javascript" src="/highcharts/highcharts.js"></script>
        <script type="text/javascript" src="/highcharts/modules/exporting.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    </head>
    <body>
        <div>
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="codes_name">该组号码名称</label>
              <input type="text" class="form-control" id="codes_name" placeholder="该组号码名称">
            </div>
            <div class="form-group">
              <label class="sr-only" for="codes">该组号码</label>
              <textarea id="codes" class="form-control" rows="3" placeholder="该组号码"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
          </form>
        </div>
    </body>
</html>
