<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="/jquery.js"></script>
        <script type="text/javascript" src="/highcharts/highcharts.js"></script>
        <script type="text/javascript" src="/highcharts/modules/exporting.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
        <script type="text/javascript" src="/bootstrap/datepicker/js/bootstrap-datepicker.js"></script>
        <link rel="stylesheet" href="/bootstrap/datepicker/css/datepicker.css" />
        <style type="text/css">
            div#top-query {
                text-align:center;
                margin:18px 0px;
            }
        </style>
        <script type="text/javascript">
            $(function () {
                init_highcharts();
                init_datepicker();
		bind_query();
            });
            
            function init_highcharts(){
                $('#container').highcharts({{$high_charts_setting}});
            }
            
            function init_datepicker(){
                $('#start_date').datepicker();
                $('#end_date').datepicker();
            }
			
            function bind_query(){
                $('#query-btn').click(function(){
                    var keys = ["start_date","end_date","code_type"];
                    var params = {};
                    for(var i in keys){
                            key = keys[i];
                            params[key] = $("#"+key).val();
                    }
                    window.location.href = '?' + $.param(params);
                });
            }
        </script>
    </head>
    <body>
        <div id="top-query" class="form-inline">
            <select id="code_type">
            {{foreach from=$types item=type_name key=type_value}}
                <option value="{{$type_value}}"{{if $type == $type_value}} selected{{/if}}>{{$type_name}}</option>
            {{/foreach}}
            </select>
            <input type="text" value="{{$start_date}}" id="start_date" data-date-format="yyyy-mm-dd">
            <span>To</span>
            <input type="text" value="{{$end_date}}" id="end_date" data-date-format="yyyy-mm-dd">
            <button type="button" class="btn btn-primary" id="query-btn">查询</button>
        </div>
        <div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
    </body>
</html>