<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="/jquery.js"></script>
        <script type="text/javascript" src="/highcharts/highcharts.js"></script>
        <script type="text/javascript" src="/highcharts/modules/exporting.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
        <script type="text/javascript" src="/bootstrap/datepicker/js/bootstrap-datepicker.js"></script>
        <link rel="stylesheet" href="/bootstrap/datepicker/css/datepicker.css" />
        <style type="text/css">
            div#top-query {
                text-align:center;
                margin:18px 0px;
            }
        </style>
        <script type="text/javascript">
            $(function () {
                init_datepicker();
		bind_query();
            });
            
            function init_datepicker(){
                $('#start_date').datepicker();
            }
			
            function bind_query(){
                $('#query-btn').click(function(){
                    var keys = ["start_date"];
                    var params = {};
                    for(var i in keys){
                            key = keys[i];
                            params[key] = $("#"+key).val();
                    }
                    window.location.href = '?' + $.param(params);
                });
            }
        </script>
    </head>
    <body>
        <div id="top-query" class="form-inline">
            <input class="span2" type="text" value="{{$start_date}}" id="start_date" data-date-format="yyyymmdd">
            <button type="button" class="btn btn-primary" id="query-btn">查询</button>
        </div>
        <div style="width:50%;margin-left: 25%;">
            <table class="table table-striped">
                <tr><th>期</th><th>中奖号码</th><th>号码</th><th>中/挂</th></tr>
                {{foreach from=$list item=data}}
                <tr class="{{if $data.hit === true}}success{{elseif $data.hit === false}}error{{else}}info{{/if}}">
                    <td>{{$data.item_date}}</td>
                    <td>{{$data.item_code}}</td>
                    <td>{{$data.count}}</td>
                    <td>{{if $data.hit === true}}中{{elseif $data.hit === false}}挂{{else}}未开奖{{/if}}</td>
                </tr>
                {{/foreach}}
            </table>
        </div>
    </body>
</html>